<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:view locale="es_sv" encoding="UTF-8" contentType="text/html" id="prin">
        <h:head>
            <f:facet name="first">
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <h:outputStylesheet name="css/plantillaStyle.css"/>
                <h:outputStylesheet name="css/contenidoStyle.css"/>
                <link  href="#{request.contextPath}/resources/images/Plantilla/logo_bueno2.jpg" 
                       type="image/x-icon" rel="shortcut icon" />
                
                <ui:insert name="css-block" >
                </ui:insert>
                <title>sig</title>
            </f:facet>
            <script type="text/javascript">
                window.onload = function () {
                    PF('layoutV').toggle('west');
                };
                $(document).ready(function () {
                    $('.ui-menuitem-link').each(function () {
                        if (window.location.pathname.indexOf($(this).attr('href')) !== -1) {
                            $(this).css('background', '#7C96B7');//or add class
                        }
                    });

                })

            </script>

        </h:head>

        <h:body>     
            <p:layout fullPage="true" widgetVar="layoutV" id="layouMenu" >

                <p:layoutUnit position="north" size="95" style="padding: 0px; margin: 0px;" gutter="0" id="header" styleClass="hcapa1">
                    <h:form id="fromTop" style="margin: 0px;">                        
                        <p:panelGrid styleClass="hcapa1 ui-panelgrid-blank" style="width: 100%; background-color: #1484E6" >
                            <p:row>
                                <p:column style="width: 240px;height: 70px;">
                                    <h:graphicImage id="logotipo" url="/resources/images/Plantilla/logo_bueno2.jpg" 
                                                    style="width: 100%;text-align: center; margin: 0 auto;height: 75px"/>
                                </p:column>
                                <p:column style="text-align: center;">
                                    <p:outputLabel style="font-size: 25px; font-weight: bold; padding-top: 10px;color:white !important;" 
                                                   value="SIG para apoyar el manejo de alimentación en albergues para la Gerencia de Proyectos Sociales de la Alcaldía El Manguito"/>
                                </p:column>
                                <p:column style="width: 290px;">
                                    <p:panelGrid id="credenciales" style="margin: 0 auto;"  >
                                        <p:row>
                                            <p:column style="text-align: center;">
                                                <h:outputLabel styleClass="fa fa-user" 
                                                               style="font-size:12px; color: white !important;" 
                                                               value="#{sessionBean.usu.nombre} #{sessionBean.usu.apellido}"/>   
                                            </p:column>
                                        </p:row>
                                        <p:row><p:column style="text-align: center;">
                                                <h:outputLabel styleClass="fa fa-institution" 
                                                               style="font-size:12px; color: white !important;" 
                                                               value="#{sessionBean.usu.sigCentro.nomCentro}"/>   
                                            </p:column>
                                            </p:row>
                                        <p:row>
                                            <p:column style="text-align: center;">
                                                <p:commandButton value="Cerrar Sesión" id="btnCS" action="#{sessionBean.cerrarSession()}" />
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>

                    <!-- **************** DIALOGO QUE MUESTRA CUANDO A TERMINADO LA SESSION **************-->

                    <p:idleMonitor onidle="PF('sessionTimeOutDialog').show();" timeout="#{session.maxInactiveInterval * 1000}"  />
                    <p:dialog header="Sesión caducada?" widgetVar="sessionTimeOutDialog" appendTo="@(body)" 
                              modal="true" resizable="false" closable="false" width="400" visible="false" draggable="false" >
                        <h:form>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;">
                                        <h:outputText style="margin: 0 auto;"
                                                      value="La sesión ha caducado, por favor, pulse sobre el siguiente boton para volver a acceder a la aplicación" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column style="border: hidden;">
                                        <p:commandButton id="confirmBackToLogin" style="margin-left: 20px;" value="volver a acceder a la aplicación"  
                                                         onclick="window.location = '#{facesContext.externalContext.requestContextPath}/login.sig';"  />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </h:form>
                    </p:dialog>




                    <!-- **************** DIALOGO QUE MUESTRAS CUANDO HAY UNA PETICCION AJAX ****************-->
                    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

                    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" 
                              showHeader="false"  style="background: transparent;" appendTo="@(body)">
                        <p:graphicImage value="/resources/images/Plantilla/loading.gif"  width="50" height="50" />
                    </p:dialog>
                </p:layoutUnit>

    <!--INICIO DE LA DEFINICION DE MENU DINAMICO-->
    <p:layoutUnit position="west"  header="MENU" collapsible="false"  gutter="0" style="text-align: center;background-color: #1484E6;margin: 0px;">
                    <!-- ****** MENU ****** -->
                    <ui:insert name="left">
                        <h:form id="menuForm" style="margin: 0px;" >       
                            <!--<p:menu model="{sessionBean.model}" style="width: 100%;"   />-->
                            <p:slideMenu model="#{sessionBean.model}" style="height:  98%;width: 201px;"  />
                        </h:form>
                    </ui:insert>

                </p:layoutUnit>
    <!--FIN DE LA DEFINICION DE MENU DINAMICO-->

                <p:layoutUnit position="center" id="contenido" gutter="0" style="margin: 0px;" >
                    <ui:insert name="content" >
                        <!-- ***** CONTENIDO PRINCIPAL ******-->
                    </ui:insert>
                </p:layoutUnit>
            </p:layout>    

            <!-- DIALOGOS PRINCIPALES-->
            <ui:insert name="dlg-blockPrin" >
                
            </ui:insert>

            <ui:insert name="dlg-block" ></ui:insert>

        </h:body>
        <h:outputScript name="js/locale.js"/>
        <ui:insert name="js-block" ></ui:insert>
    </f:view>
</html>
