body{
}

.hcapa1 {
    text-align: center;          
    background: #1484E6  ;
    /*background: #8D2525;*/
    color: white; 
    font-family: 'Cambria';
}

.hcapa2 {
    position: absolute;
    right: 0px;
    z-index: 2;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
}

#logoutButton {
    padding: 3px;
    font-size: 12px;
}

#menu{
    background: #e0e0e0 !important;
    border: hidden !important;
}

#menu .ui-layout-unit-content{
    background: #e0e0e0 !important;
    border: hidden !important;
}

#header .ui-layout-unit{
    border: hidden !important;
    background: #e0e0e0 !important;
}

#menu .ui-layout-unit-header{
    color: white !important; 
    background: #1484E6 !important;
    border: hidden !important;
    text-align: center;
}

#menu .ui-layout-unit-header-icon{
    background: white !important;
    border: hidden !important;

}

#menu .ui-icon{
    color: #2F4F4F  !important; 
    padding-right: 5px;
}

#header .fa-user::before{
    padding-right: 5px;
}

#header{
    border: hidden;
}

#contenido{
    border: hidden;
}

#menu-resizer{
    border: hidden;
}

.ui-widget-content {
    font-size: 14px;
}

/*@media screen and (max-width: 699px) {
    .hcapa1{
        background: green !important;
    }
    #header #logotipo{
        display: none;
    }
    #header #nombreSistema{
        display: none;
    }
   
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .hcapa1{
        background: red !important;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .hcapa1{
        background: yellow !important;
    }
    #logotipo{
        //background: black !important;
        background: url('../images/logo_cic_blanco_color.png') !important; 
    }
}

@media screen and (min-width: 1001px) {
    .hcapa1{
        background: purple !important;
    }
    #logotipo{
        //background: black !important;
        background: url('../../resources/images/logotipo.png') !important; 
    }
}*/

/* AGENDA */
.fc-toolbar{
    margin-bottom: 2px !important;
}
.min-pad {
    padding: 1px !important;
}
.VERDE, .VERDE .fc-event-skin, .VERDE a {
    background: #00d868 !important;
    border-color: #00b47c !important;
    color: white !important;
}


.ui-fileupload-content .ui-fileupload-preview {
    padding: 4px 10px;
    width: 1% !important;
}

.ui-fileupload-files td {
    padding: 4px 10px;
    width: 10% !important;
}

.ui-fileupload-content .ui-progressbar {
    width: 100% !important;
}

.ui-inputfield {
    text-transform: uppercase;
}


.old {
    background: #D62D2D  !important ;
}

.entradaProducto{
    background: #008000;
}
.salidaProducto{
    background: #ff1a1a;
}
.trasladosProducto{
    background: #1484E6;
}

.pdf-icon{
    background: red;
}