<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- ************************** -->
    <!-- ADMINISTRACION INSTITUCIÓN -->
    <!-- ************************** -->
    <p:dialog header="Icono" widgetVar="widIco" modal="true" resizable="false" 
              draggable="false" width="400" height="450">

        <ui:param name="beanIco" value="#{viewScope[busIconoBean.bean]}" />
        <ui:param name="metIco" value="#{busIconoBean.metodo}" />

        <h:form id="fromAIco" style="margin: 0px;">
            <p:growl id="growlAIcon" showDetail="false" />
            <p:focus for="txtNomIco" />

            <p:panelGrid style="margin: 0 auto;width: 100%;">
                <p:row>
                    <p:column>
                        <p:inputText placeholder="Nombre" style="width: 100%;" id="txtNomIco"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnGuIco.clientId]}" requiredMessage="Se requiere el nombre del icono"
                                     value="#{busIconoBean.icono.nombre}" maxlength="50"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align: center;">
                        <p:commandButton value="Guardar" action="#{busIconoBean.insertIcono()}" 
                                         binding="#{btnGuIco}" update="fromAIco "/>
                    </p:column>
                </p:row>
            </p:panelGrid>


            <p:dataTable value="#{busIconoBean.listIcono}" var="tbIco"
                         style="margin-top: 10px;"
                         editable="true" 
                         scrollable="true" scrollHeight="280" scrollRows="50"
                         emptyMessage="No hay iconos" >

                <p:ajax event="rowEdit" listener="#{busIconoBean.onRowEdit(tbIco)}" update=":fromAIco:growlAIcon" />
                <p:ajax event="rowEditCancel" listener="#{busIconoBean.onRowCancel()}" update=":fromAIco:growlAIcon" />

                <f:facet name="header">
                    ICONOS
                </f:facet>

                <p:column style="width: 13%;font-size: 12px;text-align: center;">
                    <p:commandButton icon="fa #{tbIco.nombre}" />
                </p:column>
                <p:column style="font-size: 12px;text-align: left;">
                    <p:outputLabel value="#{tbIco.nombre}" />
                </p:column>
                <p:column style="width: 15%">
                    <p:rowEditor editTitle="Modificar icono" />
                </p:column>
                <p:column headerText="Seleccionar" style="width: 23%;font-size: 12px;text-align: center;">
                    <p:commandButton icon="fa fa-check" title="Seleccionar la institución"
                                     actionListener="#{beanIco[metIco](tbIco)}" 
                                     action="#{busIconoBean.limpiar()}" 
                                     onclick="PF('widIco').hide();" update="fromAIco" />
                </p:column>

                <f:facet name="footer">
                    <p:commandButton value="Consultar Pagina" icon="fa fa-mail-forward" 
                                         action="#{busIconoBean.irPagIcono()}" 
                                         ajax="false" onclick="this.form.target = '_blank';"  />
                </f:facet>
            </p:dataTable>
        </h:form>
    </p:dialog>
</html>
