<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:view locale="es" encoding="UTF-8" contentType="text/html" id="prin">
        <h:head>
            <f:facet name="first">
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <h:outputStylesheet name="css/plantillaStyle.css"/>
                <h:outputStylesheet name="css/contenidoStyle.css"/>
                <link  href="#{request.contextPath}/resources/images/Plantilla/LogoUES.png" 
                       type="image/x-icon" rel="shortcut icon" />
                <ui:insert name="css-block" ></ui:insert>
                <title>SIG</title>
            </f:facet>
        </h:head>

        <h:body>     
            <p:layout fullPage="true" widgetVar="layoutV" id="layouMenu" >

                <p:layoutUnit position="north" size="80" style="padding: 0px; margin: 0px;" id="header" styleClass="hcapa1">
                    <p:panelGrid id="cabecera" styleClass="hcapa1 ui-panelgrid-blank" style="text-align: center; margin: 0 auto;width: 100%" >
                        <p:row>
                            <p:column style="width: 200px;">
                                <h:graphicImage id="logotipo" url="/resources/images/Plantilla/LogoUES.png" 
                                                style="width: 30%; text-align: center; margin: 0 auto;height: 10%"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel style="font-size: 25px; font-weight: bold; padding-top: 10px;color:white !important;margin-left: -19%;" 
                                                   value="SISTEMA DE ADMINISTRACION DE INFORMATICA"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>               
                </p:layoutUnit>

                <p:layoutUnit position="center" id="contenido" >
                    <h:form style="margin: 0px;">
                        <p:panelGrid columns="1" style="margin: 0 auto; width: 55%; text-align: center" 
                                     styleClass="ui-panelgrid-blank">
                            <p:row>
                                <h:graphicImage url="/resources/images/Plantilla/LogoUES.png" 
                                                style="margin: 0  auto;width: 20%;height: 30%" />
                            </p:row>
                            <p:row>
                                <ui:insert name="content">

                                </ui:insert>
                            </p:row>
                            <p:row>
                                <p:commandButton value="Regresar al Inicio" action="#{sessionBean.cerrarSession()}"
                                                 style="background:  #0277BD;color: white;font-weight: bolder;font-size: 20px;"  />
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:layoutUnit>


            </p:layout>    

            <!-- DIALOGOS-->
            <ui:insert name="dlg-block" ></ui:insert>

        </h:body>
        <h:outputScript name="js/locale.js"/>
        <ui:insert name="js-block" ></ui:insert>
    </f:view>
</html>
