<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <!--        INICIO DE PANEL PARA CRUD DE CENTROS-->
        <p:panel header="NUEVO CENTRO INSTITUCIONAL" style="width: 98%;margin: 0 auto; margin-top: 50px; text-align: center;">
            <p:panelGrid style="margin: 0 auto;width: 98%;">
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Nombre:" />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{centroBean.sigCentro.nomCentro}" maxlength="100" 
                                     size="50" id="txtDes"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere el nombre del Centro"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Telefono: " />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{centroBean.sigCentro.telefono}" maxlength="10" 
                                     size="50" id="txtTel"/>
                        <!--converter="omnifaces.ToUpperCaseConverter"-->
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Departamento:  " />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{centroBean.sigCentro.departamento}" maxlength="30" 
                                     size="50" id="txtDepartamento"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere el Departamento"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Municipio:  " />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{centroBean.sigCentro.municipio}" maxlength="30" 
                                     size="50" id="txtMunicipio"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere el Municipio"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="width: 15px;">
                        <p:outputLabel value="Direccion:  " />
                    </p:column>
                    <p:column>
                        <p:inputText value="#{centroBean.sigCentro.direccion}" maxlength="50" 
                                     size="50" id="txtDireccion"
                                     converter="omnifaces.ToUpperCaseConverter"
                                     required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere la Direccion"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2" style="text-align: center">
                        <p:commandButton value="Guardar" binding="#{btnG}" update="formCentro" 
                                         action="#{centroBean.insertCentro()}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
        <!--        FIN DE PANEL PARA CRUD DE CENTROS-->    
        <!--INICIO PARA LISTAR Y MODIFICAR LOS CENTROS-->
        <div style="height: 65%">
            <p:dataTable value="#{centroBean.listCentro}" var="dCentro"
                         emptyMessage="No hay Centros Registrados..."
                         scrollable="true" scrollHeight="100%" scrollRows="50"
                         style="width: 100%;margin-top: 10px;"
                         editable="true" 
                         rows="10"
                         paginator="true">
                <f:facet name="header">
                    CENTROS REGISTRADOS EN EL SISTEMA
                </f:facet>

                <p:ajax event="rowEdit" listener="#{centroBean.onRowEdit(dCentro)}" update=":formCentro:growlCentro" />
                <p:ajax event="rowEditCancel" listener="#{centroBean.onRowCancel()}" update=":formCentro:growlCentro" />

                <p:columnGroup type="header">
                    <p:row style="text-align: center;">
                        <p:column sortable="true" sortBy="#{dCentro.pkIdCentro}" filterBy="#{dCentro.pkIdCentro}" filterMatchMode="exact" headerText="Numero"  style="text-align: center;font-size:  12px;width: 10%;font-weight: bold;"/>
                        <p:column filterBy="#{dCentro.nomCentro}" filterMatchMode="contains" headerText="Nombre"  style="text-align: center;font-size:  12px;width: 50%;font-weight: bold;"/>
                        <p:column filterBy="#{dCentro.departamento}" filterMatchMode="contains" headerText="Departamento" style="text-align: center;font-size:  12px;width: 25%;font-weight: bold;"/>
                        <p:column filterBy="#{dCentro.municipio}" filterMatchMode="contains" headerText="Municipio" style="text-align: center;font-size:  12px;width: 25%;font-weight: bold;"/>
                        <p:column filterBy="#{dCentro.direccion}" filterMatchMode="contains" headerText="Direccion" style="text-align: center;font-size:  12px;width: 28%;font-weight: bold;"/>
                        <p:column headerText="Telefono" style="text-align: center;font-size:  12px;width: 15%;font-weight: bold;"/>
                        <p:column headerText="Centro Activo" style="text-align: center;font-size:  12px;width: 14%;font-weight: bold;"/>
                        <p:column headerText="Modificar Centro" style="text-align: center;width: 14%; font-size:  12px;font-weight: bold;"/>
                    </p:row>
                </p:columnGroup>

                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:outputLabel value="#{dCentro.pkIdCentro}"/>
                </p:column>
                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dCentro.nomCentro}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dCentro.nomCentro}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere la descripción"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dCentro.departamento}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dCentro.departamento}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere el Departamento"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dCentro.municipio}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dCentro.municipio}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere el Municipio"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dCentro.direccion}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dCentro.direccion}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere la Direccion"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{dCentro.telefono}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{dCentro.telefono}" style="width:100%" maxlength="100" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Se requiere el Telefono"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column style="width: 17%;text-align: center;font-size: 12px;">
                    <p:commandButton value="#{dCentro.estado?'Si':'No'}" action="#{centroBean.updateEstadoActivo(dCentro)}" update="formCentro"
                                     title="Deshabilitar el centro?"
                                     style="#{dCentro.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" >
                        <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado del registro?" icon="ui-icon-alert" />
                    </p:commandButton>
                </p:column>
                <p:column style="width: 10%">
                    <p:rowEditor editTitle="Modificar el centro"/>
                </p:column>

                <f:facet name="footer">
                    <p:outputLabel value=" " />
                </f:facet>
            </p:dataTable>
        </div>
        <!--FIN PARA LISTAR Y MODIFICAR LOS CENTROS-->
    </body>
</html>
