<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <style type="text/css">
            .labelIndicator{
                text-align: center;
                font: 12px;
                width: 100%;
            }
            .td_column{
                font: 13px;
                border: 2px;
                font-weight: bold;
            }
            .prodInfo{
                border: 1px solid black;
                border-collapse: collapse;
                padding: 0px;
                text-align: center;
            }
            .contentTable{
                text-align: left;
                font-size:  8px;  
            }
        </style>
        <h:form  id="formDes" style="margin: 0; width: 95%; align-content: space-around">
            <p:growl id="growlPro" showDetail="false" />
            <p:panel header="DESCARGO DE BODEGA" id="panelDes">
                <p:outputLabel class="labelIndicator" value="SELECCIONE EL REGISTRO QUE DESEE APLICAR UN DESCARGO: "/>
                <p:dataTable var="ingresosActuales" value="#{ingresoBodegaBean.listaActualExistencias}" id="tblIngresosActuales"
                             rows="10"
                             paginator="true"
                             editable="true"
                             editMode="cell"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="NUMERO DE DOCUMENTO" filterBy="#{ingresosActuales.num_factura}" filterStyle="width:100%" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.num_factura}"/>
                    </p:column>
                    <p:column headerText="CODIGO DE PRODUCTO" style="width: 16%" filterBy="#{ingresosActuales.fk_codigo.nombre}" filterMatchMode="contains">
                        <h:outputLink id="detToolProd" value="#">
                            <p:commandButton id="detProducto" value="#{ingresosActuales.fk_codigo.nombre}" type="button">
                                <p:overlayPanel  id="moviePanel" for="detProducto" hideEffect="fade" style="background-color: rgb(231, 241, 249)">
                                    <center><b>INFORMACION SOBRE EL PRODUCTO:</b></center>  
                                    <table style="width:100%" class="prodInfo">
                                        <tr>
                                            <th class="prodInfo">CODIGO</th>
                                            <th class="prodInfo">PRESENTACION</th> 
                                            <th class="prodInfo">TIPO DE PRODUCTO</th>
                                            <th class="prodInfo">UNIDAD DE MEDIDA</th>
                                            <th class="prodInfo">DESCRIPCION</th>
                                        </tr>
                                        <td class="prodInfo">#{ingresosActuales.fk_codigo.codigo}</td>
                                        <td class="prodInfo">#{ingresosActuales.fk_codigo.presentacion}</td>
                                        <td class="prodInfo">#{ingresosActuales.fk_codigo.sigTipoproducto.nombre}</td>
                                        <td class="prodInfo">#{ingresosActuales.fk_codigo.sigUnidadmedida.nombre}</td>
                                        <td class="prodInfo">#{ingresosActuales.fk_codigo.sigRubro.descripcion}</td>
                                    </table>      
                                </p:overlayPanel>  
                            </p:commandButton>
                        </h:outputLink>
                        <p:tooltip id="toolDetProd" for="detToolProd" value="RECOMENDACION: DE UN CLICK EN EL CODIGO PARA VER MAS DETALLES."
                                   showEffect="clip" position="top"/>
                    </p:column>
                    <p:column headerText="PRECIO UNITARIO" filterBy="#{ingresosActuales.precio_unit}" filterMatchMode="contains">
                        <h:outputText value="$#{ingresosActuales.precio_unit}" />
                    </p:column>
                    <p:column headerText="CANTIDAD" style="width: 5%" filterBy="#{ingresosActuales.cantidad}" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.cantidad}" />
                    </p:column>
                    <p:column headerText="FECHA DE INGRESO">
                        <h:outputText value="#{ingresosActuales.fecha_ingreso}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="REALIZADO POR" filterBy="#{ingresosActuales.realizado_por}" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.realizado_por}" />
                    </p:column>
                    <p:column headerText="TIPO DE INGRESO" filterBy="#{ingresosActuales.tipo_ingreso}" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.tipo_ingreso}" />
                    </p:column>
                    <p:column headerText="MARCA" filterBy="#{ingresosActuales.fk_marca.nombre}" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.fk_marca.nombre}" />
                    </p:column>
                    <p:column headerText="FECHA DE CADUCIDAD">
                        <h:outputText value="#{ingresosActuales.fecha_caducidad}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="DISTRIBUIDOR" filterBy="#{ingresosActuales.nombre_distribuidor}" filterStyle="width:100%" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.nombre_distribuidor}" />
                    </p:column>
                    <p:column headerText="DESCRIPCION" filterBy="#{ingresosActuales.descripcion}" filterMatchMode="contains">
                        <h:outputText value="#{ingresosActuales.descripcion}"/>
                    </p:column>
                    <p:column headerText="ACCION" style="width: 10%">
                        <h:outputLink id="grow" value="#">
                            <p:commandButton value="DESCARGAR" 
                                             update="formConfirmarRegistro"  
                                             oncomplete="PF('procesarDescargo').show();"
                                             action="#{descargoBodegaBean.descargarBodega(ingresosActuales)}">
                                <p:ajax  listener="#{descargoBodegaBean.descargarBodega(ingresosActuales)}"/>
                            </p:commandButton>
                        </h:outputLink>
                        <p:tooltip id="toolTipGrow" for="grow" value="RECOMENDACION: VERFIQUE SI EL REGISTRO ES EL CORRECTO, ESTA OPERACION NO PUEDE SER REVERTIDA."
                                   showEffect="clip" hideEffect="explode" position="left"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
        <p:dialog id="dlg_g" width="430" height="400" header="FORMULARIO PARA DESCARGO DE PRODUCTO"
                  widgetVar="procesarDescargo"  responsive="true"
                  onShow="PF('procesarDescargo').initPosition()"
                  resizable="false">
            <h:form id="formConfirmarRegistro" rendered="true" style="margin: 0; width: 100%; align-content: space-around">
                <p:growl id="growl2" sticky="true" autoUpdate="true"/>
                <h4></h4>
                <h4 style="text-align: center">DETALLE DEL PRODUCTO</h4>
                <!--START:. TABLA INFORMATIVA-->
                <table >
                    <tr>
                        <td class="td_column">NUMERO DE DOCUMENTO: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.num_factura}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">CODIGO DEL PRODUCTO: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fk_codigo.codigo}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">NOMBRE DEL PRODUCTO: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fk_codigo.nombre}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">PRECIO UNITARIO: </td>
                        <td>
                            <h:outputText value="$#{descargoBodegaBean.exisBodega.precio_unit}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">CANTIDAD: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.cantidad}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">UNIDAD DE MEDIDA: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fk_codigo.sigUnidadmedida.nombre}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">MARCA: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fk_marca.nombre}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">DISTRIBUIDOR</td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.nombre_distribuidor}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">TIPO DE INGRESO</td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.tipo_ingreso}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">FECHA DE INGRESO :</td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fecha_ingreso}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">FECHA DE CADUCIDAD: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.fecha_caducidad}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">DESCRIPCION: </td>
                        <td>
                            <h:outputText value="#{descargoBodegaBean.exisBodega.descripcion}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">NUMERO DE ACTA: </td>
                        <td>
                            <p:inputNumber size="16"  value="#{descargoBodegaBean.numAcuerdo}" 
                                         maxValue="9999999999999999" thousandSeparator="" minValue="1" 
                                         required="#{not empty param[btnDesc.clientId]}" 
                                         decimalPlaces="0"
                                         requiredMessage="SE REQUIERE EL NUMERO DE ACUERDO">
                                <p:ajax event="change" update="formConfirmarRegistro:growl2"/>
                            </p:inputNumber>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">CANTIDAD A DESCARGAR: </td>
                        <td>
                            <p:spinner id="cantDesc"  value="#{descargoBodegaBean.cantDescargar}" 
                                       min="1" max="#{descargoBodegaBean.exisBodega.cantidad}" 
                                       required="#{not empty param[btnDesc.clientId]}" 
                                       requiredMessage="SE REQUIERE DE UNA CANTIDAD SUPERIOR A CERO">
                                <f:validateLength ></f:validateLength>
                                <!--<p:ajax event="change" update="total4"/>-->
                            </p:spinner>
                            <p:message for="cantDesc" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td_column">JUSTIFICACION: </td>
                        <td>
                            <p:inputTextarea id="justificacion" maxlength="50"  style="width: 200px; height: 50px" value="#{descargoBodegaBean.justificacion}"
                                             required="#{not empty param[btnDesc.clientId]}"
                                             requiredMessage="SE REQUIERE LA JUSTIFICACION"/>
                            <p:message id="mssJust" for="justificacion" />

                        </td>
                    </tr>
                </table>
                <!--START:. TABLA INFORMATIVA-->
                <br></br>
                <center>
                    <p:commandButton value="CANCELAR" oncomplete="PF('procesarDescargo').hide();" style="margin-right: 20px"/>
                    <p:commandButton value="REALIZAR DESCARGO"
                                     process="@form"
                                     update="formConfirmarRegistro:growl2"
                                     action="#{descargoBodegaBean.realizarDescargo()}"
                                     binding="#{btnDesc}"
                                     validateClient="true"
                                     />
                </center>
            </h:form>
        </p:dialog>
        <p:dialog id="successConfirm" widgetVar="successDesc" header="Descargo Realizado con Exito!" closable="false" resizable="false" draggable="false">
            <i class="fa fa-warning"></i>
            <p:outputLabel value="Puede Consultar el registro, en el Historial de Descargos Realizados"/>
            <br></br>
            <center>            
                <p:commandButton id="ok" value="OK" action="#{descargoBodegaBean.refreshPage()}"/>
            </center>
        </p:dialog>
        <p:separator title="OPCIONES..."/>
        <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
        <p:commandButton class="ui-g-12 ui-md-6 ui-lg-4"
                         update="tblADesc" icon="fa fa-eye " 
                         value="VER HISTORIAL DE DESCARGOS REALIZADOS" 
                         oncomplete="PF('descargosH').show()" />
        <!--START:.DIALOGO PARA VER LOS REGISTROS DE BODEGA-->
        <p:dialog id="descargosDone"  header="HISTORIAL DE DESCARGOS DE BODEGA" 
                  style="max-width: 75%"
                  widgetVar="descargosH"  responsive="true"
                  showEffect="clip"
                  onShow="PF('descargosH').initPosition()"
                  resizable="false">
            <h:form id="tblADesc" rendered="true" style="margin: 0; width: 100%; align-content: space-around">
                <p:growl id="growlPro" showDetail="false" />
                <p:outputLabel class="labelIndicator" value="NO SE PERMITE LA MODIFICACION"/>
                <p:dataTable var="descargos" value="#{descargoBodegaBean.listaHistorialDescargos}" id="tblDescargos"
                             rows="10"
                             paginator="true"
                             editable="true"
                             editMode="cell"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="CODIGO DE PRODUCTO" style="width: 15%" filterBy="#{descargos.fk_producto}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.fk_producto}" />
                    </p:column>
                    <p:column headerText="NOMBRE DEL PRODUCTO" style="width: 25%" filterBy="#{descargos.fk_ExistenciaBodega.fk_codigo.nombre}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.fk_ExistenciaBodega.fk_codigo.nombre}" />
                    </p:column>
                    <p:column headerText="NUMERO DE ACUERDO" style="width: 10%" filterBy="#{descargos.numAcuerdo}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.numAcuerdo}" />
                    </p:column>
                    <p:column headerText="TIPO DE DOCUMENTO" style="width: 25%" filterBy="#{descargos.numAcuerdo}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.fk_ExistenciaBodega.tipo_ingreso}" />
                    </p:column>
                    <p:column headerText="NUMERO DE DOCUMENTO" style="width: 10%" filterBy="#{descargos.fk_ExistenciaBodega.num_factura}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.fk_ExistenciaBodega.num_factura}" />
                    </p:column>
                    <p:column headerText="CANTIDAD DESCARGADA" style="width: 8%" filterBy="#{descargos.cantidad}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.cantidad}"></h:outputText>
                    </p:column>
                    <p:column headerText="JUSTIFICACION" style="width: 25%" filterBy="#{descargos.justificacion}" filterMatchMode="contains">
                        <h:outputText value="#{descargos.justificacion}" />
                    </p:column>
                    <p:column headerText="FECHA DE DESCARGO" style="width: 14%">
                        <h:outputText value="#{descargos.fecha_descargo}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="REALIZADO POR" filterBy="#{descargos.realizado_por}" style="width: 15%" filterMatchMode="contains">
                        <h:outputText value="#{descargos.realizado_por}" />
                    </p:column>
                </p:dataTable>
            </h:form>
        </p:dialog>
        <!--END:.DIALOGO PARA VER LOS REGISTROS DE BODEGA-->

    </ui:define>
</ui:composition>