<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <style type="text/css">
            .ui-row-editor .ui-row-editor-pencil {
                margin-left:8px;
            }
            .prodInfo{
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: center;
            }
            .contentTable{
                text-align: left;
                font-size:  15px;  
            }
        </style>
        <!--START:.FORMULARIO PADRE-->
        <h:form  id="formBode" style="margin: 0; width: 100%; align-content: space-around">
            <p:growl id="growlPro" showDetail="false" life="3000"/>                 
            <div style="height: 70%;width: 90%;margin: 0 auto;">
                <!--START:.TABLA PRODUCTOS EXISTENTES EN BODEGA-->
                <p:dataTable value="#{ingresoBodegaBean.listaDto}" var="tblPro"
                             style="width: 100%;margin-top: 10px;"
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="20"
                             scrollable="true" scrollHeight="100%" scrollRows="80"
                             emptyMessage="NO HAY PRODUCTOS"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} 
                             {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="20,25,30" id="tblPro" 
                             >
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="CODIGO" style="text-align: center;font-size:  14px;width: 12%;"
                                      filterBy="#{tblPro.fk_codigo}" />
                            <p:column headerText="NOMBRE" style="text-align: left;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.nombre}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="DESCRIPCION" style="text-align: left;font-size:  14px;width: 25%;"
                                      filterBy="#{tblPro.descripcion}"/>
                            <p:column headerText="UNIDAD MEDIDA" style="text-align: center;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.unidadMedida}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="CANTIDAD" style="text-align: center;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.cantidad}"/>
                        </p:row>
                    </p:columnGroup>
                    <f:facet name="header">
                        <p:outputLabel value="PRODUCTOS EN EXISTENCIA BODEGA" />
                    </f:facet>
                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblPro.fk_codigo}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.nombre}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.descripcion}" />
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:outputLabel value="#{tblPro.unidadMedida}" />
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:outputLabel value="#{tblPro.cantidad}" />
                    </p:column>
                </p:dataTable>
                <p:separator title="OPCIONES..."/>
                <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
                <p:commandButton class="ui-g-12 ui-md-6 ui-lg-4"
                                 process="tblPro" 
                                 update="formBode" icon="fa fa-sign-in " 
                                 value="NUEVO INGRESO A BODEGA" 
                                 oncomplete="PF('ingresoProductos').show()" />
                <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
                <p:commandButton process="tblPro"  class="ui-g-12 ui-md-6 ui-lg-4"
                                 update="formBode:ingBodegaR" 
                                 icon="fa fa-eye" 
                                 value="CONSULTAR INGRESOS REALIZADOS" 
                                 oncomplete="PF('ingBodegaRealizados').show()" />
                <!--END:.TABLA PRODUCTOS EXISTENTES EN BODEGA-->
            </div>
            <!--INICIO DIALOGO PARA INGRESO DE PRODUCTOS-->
            <p:dialog id="ingresoBodega" header="NUEVO INGRESO DE PRODUCTOS A BODEGA" widgetVar="ingresoProductos"
                      modal="false" showEffect="clip"  >               
                <h:form id="formIngBA">
                    <p:growl id="growlIng" showDetail="false" />
                    <p:panelGrid >
                        <p:row style="width: 50%">
                            <p:column>
                                <p:outputLabel value="NUMERO DE DOCUMENTO"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber size="10"  value="#{ingresoBodegaBean.factura.num_factura}" 
                                               required="#{not empty param[btnSig.clientId]}" 
                                               maxValue="9999999999999999" thousandSeparator="" minValue="1"
                                               requiredMessage="SE REQUIERE EL NUMERO DE DOCUMENTO">
                                    <p:ajax event="change"/>
                                </p:inputNumber>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="FECHA DE INGRESO:"  indicateRequired="*"/>
                            </p:column>
                            <p:column id="fechIngreso">
                                <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" 
                                            required="#{not empty param[btnSig.clientId]}"
                                            requiredMessage="SE REQUIERE LA FECHA PARA REGISTRO DE INGRESO"
                                            size="15" value="#{ingresoBodegaBean.fecha_ingreso}" maxdate="#{currentDate}"
                                            >
                                    <p:ajax event="dateSelect" listener="#{ingresoBodegaBean.asignarFecha()}"/>
                                </p:calendar>
                                <p:message for="fechIngreso" />
                            </p:column> 
                            <p:column>
                                <p:outputLabel value="PROVEEDOR" />
                            </p:column>
                            <p:column>
                                <p:inputText size="15" value="#{ingresoBodegaBean.factura.nombre_distribuidor}" 
                                             maxlength="50" 
                                             required="#{not empty param[btnSig.clientId]}"       
                                             converter="omnifaces.ToUpperCaseConverter"
                                             requiredMessage="SE REQUIERE EL NOMBRE DEL PROVEEDOR">
                                    <p:ajax event="change"/>
                                </p:inputText>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="TIPO DE DOCUMENTO:" />
                            </p:column>
                            <p:column>
                                <p:selectOneMenu  value="#{ingresoBodegaBean.factura.tipo_ingreso}" 
                                                  converter="omnifaces.SelectItemsConverter"
                                                  required="#{not empty param[btnSig.clientId]}"  
                                                  requiredMessage="SE REQUIERE EL TIPO DE DOCUMENTO">
                                    <f:selectItem itemLabel="NUMERO DE ENVIO" itemValue="NUMERO DE ENVIO" />
                                    <f:selectItem itemLabel="NOTA DE REMISION" itemValue="NOTA DE REMISION" />
                                    <f:selectItem itemLabel="ACTA" itemValue="ACTA"/>
                                    <p:ajax event="change"/>
                                </p:selectOneMenu>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:panelGrid>
                        <p:row>
                            <div style="height: 68%;width: 100%;margin: 0 auto;">
                                <p:dataTable id="checkProductos" var="productos" value="#{ingresoBodegaBean.productos}" 
                                             selection="#{ingresoBodegaBean.listPro}" rowKey="#{productos.codigo}" 
                                             style="width: 100%;margin-top: 10px;"
                                             rows="15"
                                             paginator="true"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15">
                                    <f:facet name="header">
                                        CATALOGO DE PRODUCTOS
                                    </f:facet>
                                    <p:column id="selecProducItem" 
                                              selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:column class="contentTable" headerText="CODIGO" filterBy="#{productos.codigo}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.codigo}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="NOMBRE" filterBy="#{productos.nombre}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.nombre}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="PRESENTACION" filterBy="#{productos.presentacion}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.presentacion}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="TIPO" filterBy="#{productos.sigTipoproducto.nombre}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.sigTipoproducto.nombre}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="UNIDAD DE MEDIDA" filterBy="#{productos.sigUnidadmedida.nombre}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.sigUnidadmedida.nombre}" />
                                    </p:column>
                                    <f:facet name="footer">
                                        <center>
                                            <h:outputLink id="linkSig" value="#">
                                                <p:commandButton update="formBode:formIngBA:growlIng"
                                                                 action="#{ingresoBodegaBean.ingresosBodegaUpdate()}" 
                                                                 binding="#{btnSig}"
                                                                 icon="fa fa-arrow-right" value="SIGUIENTE" 
                                                                 validateClient="true"
                                                                 disabled="false"
                                                                 />
                                            </h:outputLink>
                                            <p:tooltip id="toolTipSig" for="linkSig" value="ATENCION, ASEGURESE SIEMPRE DE CHECKEAR AL MENOS UN REGISTRO DE PRODUCTO!"
                                                       trackMouse="true"/>
                                        </center>
                                    </f:facet>
                                </p:dataTable>
                            </div>
                        </p:row>
                    </p:panelGrid>
                </h:form>
            </p:dialog>
            <!--FIN DIALOGO PARA INGRESO DE PRODUCTOS-->

            <!--START:.TABLA CON LOS DATOS DE REGISTRO DE INGRESO DE BODEGA-->
            <p:dialog header="REGISTRO DE INGRESOS A BODEGA" id="ingBodegaR" widgetVar="ingBodegaRealizados" 
                      style="max-width: 90%"
                      resizable="false"
                      closeOnEscape="true"
                      modal="true"
                      draggable="false">
                <h:form id="regIngBodega">
                    <p:dataTable var="ingreso" value="#{ingresoBodegaBean.registrosIngreso}" id="tblIngresosActuales"
                                 rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15">
                        <p:column headerText="NUMERO DE DOCUMENTO" filterBy="#{ingreso.num_factura_aud}" filterStyle="width:100%" filterMatchMode="contains">
                            <h:outputText value="#{ingreso.num_factura_aud}"/>
                        </p:column>
                        <p:column headerText="CODIGO DE PRODUCTO" style="width: 16%" filterBy="#{ingresosActuales.fk_codigo}" filterStyle="width:100%" filterMatchMode="contains">
                            <p:commandButton id="detProducto" value="#{ingreso.fk_codigo.nombre}" type="button">
                                <p:overlayPanel  id="moviePanel" for="detProducto" hideEffect="fade" style="background-color: rgb(231, 241, 249)">
                                    <center><b>INFORMACION SOBRE EL PRODUCTO:</b></center>  
                                    <table style="width:100%" class="prodInfo">
                                        <tr>
                                            <th class="prodInfo">NOMBRE</th>
                                            <th class="prodInfo">PRESENTACION</th> 
                                            <th class="prodInfo">TIPO DE PRODUCTO</th>
                                            <th class="prodInfo">UNIDAD DE MEDIDA</th>
                                            <th class="prodInfo">DESCRIPCION</th>
                                        </tr>
                                        <td class="prodInfo">#{ingreso.fk_codigo.nombre}</td>
                                        <td class="prodInfo">#{ingreso.fk_codigo.presentacion}</td>
                                        <td class="prodInfo">#{ingreso.fk_codigo.sigTipoproducto.nombre}</td>
                                        <td class="prodInfo">#{ingreso.fk_codigo.sigUnidadmedida.nombre}</td>
                                        <td class="prodInfo">#{ingreso.fk_codigo.sigRubro.descripcion}</td>
                                    </table>      
                                </p:overlayPanel>  
                            </p:commandButton>
                        </p:column>
                        <p:column headerText="PRECIO UNITARIO">
                            <h:outputText value="$#{ingreso.precio_unit_aud}" />
                        </p:column>
                        <p:column headerText="CANTIDAD" style="width: 10%">
                            <h:outputText value="#{ingreso.cantidad_aud}" />
                        </p:column>
                        <p:column headerText="FECHA DE INGRESO">
                            <h:outputText value="#{ingreso.fecha_ingreso_aud}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="REALIZADO POR">
                            <h:outputText value="#{ingreso.realizado_por_aud}" />
                        </p:column>
                        <p:column headerText="TIPO DE INGRESO">
                            <h:outputText value="#{ingreso.tipo_ingreso_aud}" />
                        </p:column>
                        <p:column headerText="MARCA">
                            <h:outputText value="#{ingreso.fk_marca.nombre}" />
                        </p:column>
                        <p:column headerText="FECHA DE CADUCIDAD">
                            <h:outputText value="#{ingreso.fecha_caducidad_aud}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="DISTRIBUIDOR" filterBy="#{ingreso.nombre_distribuidor_aud}" filterStyle="width:100%" filterMatchMode="contains">
                            <h:outputText value="#{ingreso.nombre_distribuidor_aud}" />
                        </p:column>
                        <p:column headerText="DESCRIPCION">
                            <h:outputText value="#{ingreso.descripcion_aud}" />
                        </p:column>
                    </p:dataTable>
                </h:form>
            </p:dialog>
            <!--END:.TABLA CON LOS DATOS DE INGRESO DE BODEGA-->
        </h:form>
        <!--END:. FORMULARIO PADRE-->
        <!--INICIO PARA DIALOGO PARA SETTEAR CADA SIGEXISTENCIABODEGA-->  
        <!--PARA QUE EL USUARIO NO PUEDA PASAR AL SIGUIENTE MODAL HASTA HABER ELEGIDO AL MENOS UN REGISTRO DE PRODUCTOS-->
        <p:dialog header="DETALLE DE INGRESO" id="detalleExistencias" widgetVar="detalleIngPro" modal="true" 
                  resizable="false" draggable="false">
            <h:form id="formExis" style="margin: 0; width: 100%; align-content: space-around">
                <p:growl id="growlDell" showDetail="true" />
                <p:scrollPanel style="height:300px">
                    <p:outputPanel id="detalleIngProducto" style="text-align:center;">
                        <p:dataTable var="exisBodega" value="#{ingresoBodegaBean.listExistenciaBodega}" 
                                     emptyMessage="NO SE HAN SELECCIONADO PRODUCTOS A INGRESAR..."
                                     editable="true"
                                     editMode="cell">
                            <p:ajax event="rowEdit" listener="#{ingresoBodegaBean.onRowEdit(exisBodega)}" update=":formExis:growlDell" />
                            <p:ajax event="rowEditCancel" listener="#{ingresoBodegaBean.onRowCancel}" update=":formExis:growlDell" />
                            <p:column headerText="CODIGO PRODUCTO">
                                <h:outputText value="#{exisBodega.fk_codigo.codigo}" />   
                            </p:column>
                            <p:column headerText="NOMBRE">
                                <h:outputText value="#{exisBodega.fk_codigo.nombre}" />   
                            </p:column>
                            <p:column headerText="PRESENTACION">
                                <h:outputText value="#{exisBodega.fk_codigo.presentacion}" />   
                            </p:column>
                            <p:column headerText="UNIDAD MEDIDA">
                                <h:outputText value="#{exisBodega.fk_codigo.sigUnidadmedida.nombre}" />   
                            </p:column>
                            <p:column headerText="PRECIO UNITARIO">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText  value="$#{exisBodega.precio_unit}" /></f:facet>
                                    <f:facet name="input">
                                        <p:inputNumber id="precForm" symbol="$" decimalPlaces="2" minValue="0.00" value="#{exisBodega.precio_unit}" style="width:100%" label="Precio Unitario">
                                            <f:ajax execute="precForm" render="subTotal totalForm" listener="#{ingresoBodegaBean.calcularTotal()}"/>
                                        </p:inputNumber>                                    
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="CANTIDAD">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{exisBodega.cantidad}" /></f:facet>
                                    <f:facet  name="input">
                                        <p:inputNumber id="cantForm" minValue="0" decimalPlaces="0" value="#{exisBodega.cantidad}"  style="width:100%" label="Cantidad">
                                            <f:ajax execute="cantForm" render="subTotal totalForm" listener="#{ingresoBodegaBean.calcularTotal()}"/>
                                        </p:inputNumber>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="MARCA">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{exisBodega.fk_marca.nombre}"/></f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu id="marcaExis" value="#{exisBodega.fk_marca}" 
                                                         converter="omnifaces.SelectItemsConverter"
                                                         required="#{not empty param[btnG.clientId]}"
                                                         requiredMessage="Se requiere la Marca">
                                            <f:selectItem itemLabel="SELECCIONE UNA MARCA" noSelectionOption="false" />
                                            <f:selectItems value="#{ingresoBodegaBean.listMrc}" var="marca" itemLabel="#{marca.nombre}" itemValue="#{marca}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="FECHA DE CADUCIDAD">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{exisBodega.fecha_caducidad}">
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:calendar  id="fechCad" value ="#{exisBodega.fecha_caducidad}" 
                                                     mode="popup" required="true"
                                                     requiredMessage="Se requiere la fecha de ingreso"
                                                     pattern="dd/MM/yyyy"
                                                     mindate="#{currentDate}"
                                                     mask="true">
                                        </p:calendar> 
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="OBSERVACION">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{exisBodega.descripcion}"  converter="omnifaces.ToUpperCaseConverter"/></f:facet>
                                    <f:facet name="input"><p:inputText value="#{exisBodega.descripcion}" converter="omnifaces.ToUpperCaseConverter" style="width:100%" label="Descripcion"/></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="SUBTOTAL">
                                <h:outputText id="subTotal" value="$#{exisBodega.precio_unit*exisBodega.cantidad}">
                                    <f:convertNumber pattern="#0.00" maxFractionDigits="2"/>
                                </h:outputText>
                            </p:column> 
                        </p:dataTable>
                        <p:separator title="CALCULO DEL TOTAL DE INGRESOS"></p:separator>
                        <p:outputLabel value="TOTAL: $ " class="subTotal"/>
                        <h:outputText id="totalForm" value="#{ingresoBodegaBean.total}" class="subTotalContent">
                            <f:convertNumber pattern="#0.00" maxFractionDigits="2"/>
                        </h:outputText>
                    </p:outputPanel>
                </p:scrollPanel>             
                <center>
                    <p:commandButton value="GUARDAR" icon="fa fa-save" action="#{ingresoBodegaBean.confirmar}"  oncomplete="PF('detalleIngPro').hide(); PF('successIng').show();" style="float: left; margin-left: 35%" >
                        <p:confirm header="ESTA SEGURO DE GUARDAR?" message="ESTA ACCION NO PUEDE REVERTIRSE!" icon="fa fa-warning"/>
                    </p:commandButton>
                    <p:commandButton value="CANCELAR" icon="fa fa-times-circle" update="formExis" style="margin-left: 0%" oncomplete="PF('detalleIngPro').hide()"></p:commandButton>
                </center>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="SI" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                    <p:commandButton value="NO" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times-circle"/>
                </p:confirmDialog>  
            </h:form>
        </p:dialog>
        <!--FIN PARA DIALOGO PARA SETTEAR CADA SIGEXISTENCIABODEGA-->
        <p:dialog id="successConfirm" widgetVar="successIng" header="Ingreso de Productos Realizado con Exito!" closable="false" resizable="false" draggable="false">
            <i class="fa fa-warning"></i>
            <p:outputLabel value="Puede Consultar los registros, en el Historial de Ingresos Realizados"/>
            <br></br>
            <center>            
                <p:commandButton id="okp" value="OK" action="#{ingresoBodegaBean.refreshPage()}"/>
            </center>
        </p:dialog>
    </ui:define>

</ui:composition>
