<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <!--START:.FORMULARIO PARA SALIDA DE BODEGA-->
    <ui:define name="content">
        <style type="text/css">
            .ui-row-editor .ui-row-editor-pencil {
                margin-left:8px;
            }
            .prodInfo{
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                text-align: center;
            }
            .contentTable{
                text-align: left;
                font-size:  15px;  
            }
        </style>
        <!--START:.FORMULARIO PADRE-->
        <h:form  id="formBode" style="margin: 0; width: 100%; align-content: space-around">
            <p:growl id="growlPro" showDetail="false" life="3000"/>                 
            <div style="height: 70%;width: 90%;margin: 0 auto;">
                <!--START:.TABLA PRODUCTOS EXISTENTES EN BODEGA-->
                <p:dataTable value="#{salidaBodegaBean.existencias}" var="tblPro"
                             style="width: 100%;margin-top: 10px;"
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="20"
                             scrollable="true" scrollHeight="100%" scrollRows="80"
                             emptyMessage="No hay Productos"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} 
                             {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="20,25,30" id="tblPro" 
                             >
                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="CODIGO" style="text-align: center;font-size:  14px;width: 12%;"/>
                            <p:column headerText="NOMBRE" style="text-align: left;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.nombre}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="DESCRIPCION" style="text-align: left;font-size:  14px;width: 25%;"/>
                            <p:column headerText="UNIDAD MEDIDA" style="text-align: center;font-size:  14px;width: 10%;" 
                                      filterBy="#{tblPro.unidadMedida}" filterStyle="width:100%" filterMatchMode="contains"/>
                            <p:column headerText="CANTIDAD" style="text-align: center;font-size:  14px;width: 10%;" />
                        </p:row>
                    </p:columnGroup>
                    <f:facet name="header">
                        <p:outputLabel value="PRODUCTOS EN EXISTENCIA BODEGA" />
                    </f:facet>
                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblPro.fk_producto}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.nombre}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:outputLabel value="#{tblPro.descripcion}" />
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:outputLabel value="#{tblPro.unidadMedida}" />
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:outputLabel value="#{tblPro.cantidad}" />
                    </p:column>
                </p:dataTable>
                <p:separator title="Opciones..."/>
                <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
                <p:commandButton class="ui-g-12 ui-md-6 ui-lg-4"
                                 process="tblPro" 
                                 update="formBode" icon="fa fa-sign-in " 
                                 value="REALIZAR SALIDA" 
                                 oncomplete="PF('salidaProductos').show()" />
                <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
                <p:commandButton process="tblPro"  class="ui-g-12 ui-md-6 ui-lg-4"
                                 update="formBode:salBodegaR" 
                                 icon="fa fa-eye" 
                                 value="CONSULTAR SALIDAS REALIZADAS" 
                                 oncomplete="PF('salBodegaRealizados').show()" />
                <!--END:.TABLA PRODUCTOS EXISTENTES EN BODEGA-->
            </div>




            <!--START:.FORMULARIO PARA SALIDA DE BODEGA-->
            <p:dialog id="salidaBodega" header="NUEVA SALIDA DE PRODUCTOS A BODEGA" widgetVar="salidaProductos"
                      modal="false" showEffect="clip"  >               
                <h:form id="formSalBA">
                    <p:growl id="growlIng" showDetail="false" />
                    <p:panelGrid >
                        <p:row style="width: 50%">
                            <p:column>
                                <p:outputLabel value="NUMERO DE DOCUMENTO"/>
                            </p:column>
                            <p:column>
                                <p:inputNumber size="16"  value="#{salidaBodegaBean.factura.num_factura}" 
                                               maxValue="9999999999999999" thousandSeparator="" minValue="1" decimalPlaces="0"
                                               required="#{not empty param[btnSig.clientId]}"
                                               converter="omnifaces.ToUpperCaseConverter"
                                               requiredMessage="SE DEBE INGRESAR EL NUMERO DE DOCUMENTO!">
                                    <p:ajax event="change"/>
                                </p:inputNumber>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="FECHA DE SALIDA"  indicateRequired="*"/>
                            </p:column>
                            <p:column id="fechSalida">
                                <p:calendar pattern="dd/MM/yyyy" mask="99/99/9999" 
                                            required="#{not empty param[btnSig.clientId]}"
                                            requiredMessage="NO SE HA DEFINIDO UNA FECHA DE SALIDA!"
                                            size="15" value="#{salidaBodegaBean.fecha_salida}"
                                            maxdate="#{currentDate}">
                                    <p:ajax event="dateSelect" listener="#{salidaBodegaBean.asignarFecha}"/>
                                </p:calendar>
                                <p:message for="fechSalida" />
                            </p:column> 
                            <p:column>
                                <p:outputLabel value="ENTREGADO A:" />
                            </p:column>
                            <p:column>
                                <p:inputText size="15" value="#{salidaBodegaBean.entregado_a}" 
                                             maxlength="50" 
                                             required="#{not empty param[btnSig.clientId]}"       
                                             converter="omnifaces.ToUpperCaseConverter"
                                             requiredMessage="NO SE HA DEFINIDO A QUIEN SE LE ENTREGA EL PRODUCTO!">
                                    <p:ajax event="change"/>
                                </p:inputText>
                            </p:column>

                        </p:row>
                    </p:panelGrid>
                    <p:panelGrid>
                        <p:row>
                            <div style="height: 68%;width: 100%;margin: 0 auto;">
                                <p:dataTable id="checkProductos" var="productos" value="#{salidaBodegaBean.exisBodega}" 
                                             selection="#{salidaBodegaBean.exisBodegaSelec}" rowKey="#{productos.pk_ExistenciaBodega}"
                                             style="width: 100%;margin-top: 10px;"
                                             rows="15"
                                             paginator="true"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             rowsPerPageTemplate="5,10,15">
                                    <f:facet name="header">
                                        PRIMERAS ENTRADAS DE LOS PRODUCTOS EN BODEGA
                                    </f:facet>
                                    <p:column id="selecProducItem" 
                                              selectionMode="multiple" style="width:16px;text-align:center"/>
<!--                                    <p:column class="contentTable" headerText="Codigo movimiento" filterBy="#{productos.pk_ExistenciaBodega}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.pk_ExistenciaBodega}" />
                                    </p:column>-->
                                    <p:column class="contentTable" headerText="NOMBRE PRODUCTO" filterBy="#{productos.fk_codigo.nombre}" filterMatchMode="contains" style="width: 10%;margin: 0;">
                                        <h:outputText class="contentTable" value="#{productos.fk_codigo.nombre}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="PRECIO UNITARIO" filterBy="#{productos.precio_unit}" filterMatchMode="contains"  style="width: 5%;margin: 0;">
                                        <h:outputText class="contentTable" value="#{productos.precio_unit}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="FECHA INGRESO" filterBy="#{productos.fecha_ingreso}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.fecha_ingreso}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column class="contentTable" headerText="MARCA" filterBy="#{productos.fk_marca.nombre}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.fk_marca.nombre}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="UNIDAD MEDIDA" filterBy="#{productos.fk_codigo.sigUnidadmedida.nombre}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.fk_codigo.sigUnidadmedida.nombre}" />
                                    </p:column>
                                    <p:column class="contentTable" headerText="CANTIDAD" filterBy="#{productos.cantidad}" filterMatchMode="contains">
                                        <h:outputText class="contentTable" value="#{productos.cantidad}" />
                                    </p:column>

                                    <f:facet name="footer">
                                        <center>
                                            <h:outputLink id="linkSig" value="#">
                                                <p:commandButton update="formBode:formSalBA:growlIng"
                                                                 action="#{salidaBodegaBean.validarForm()}" 
                                                                 binding="#{btnSig}"
                                                                 icon="fa fa-arrow-right" value="Siguiente" 
                                                                 validateClient="true"
                                                                 disabled="false"
                                                                 />
                                            </h:outputLink>

                                        </center>
                                    </f:facet>
                                </p:dataTable>
                            </div>
                        </p:row>
                    </p:panelGrid>
                </h:form>
            </p:dialog>


            <!--START:.TABLA CON LOS DATOS DE REGISTRO DE INGRESO DE BODEGA-->
            <p:dialog header="REGISTRO DE SALIDAS A BODEGA" id="salBodegaR" widgetVar="salBodegaRealizados" 
                      style="max-width: 97%"
                      resizable="false"
                      closeOnEscape="true"
                      modal="true" 
                      visible="false"
                      showEffect="clip">
                <p:dataTable var="salidasActuales" value="#{salidaBodegaBean.listActualSalida}" id="tblIngresosActuales"
                             rows="10"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="CODIGO SALIDA">
                        <h:outputText value="#{salidasActuales.pk_SalidaBodega}"/>
                    </p:column>
                    <p:column headerText="Codigo de Producto" style="width: 16%" filterBy="#{salidasActuales.fk_codigo}" filterStyle="width:100%" filterMatchMode="contains">
                        <p:commandButton id="detProducto" value="#{salidasActuales.fk_ExistenciaBodega.fk_codigo.nombre}" type="button">
                            <p:overlayPanel  id="moviePanel" for="detProducto" hideEffect="fade" style="background-color: rgb(231, 241, 249)">
                                <center><b>Informacion Sobre el producto:</b></center>  
                                <table style="width:100%" class="prodInfo">
                                    <tr>
                                        <th class="prodInfo">NOMBRE</th>
                                        <th class="prodInfo">PRESENTACION</th> 
                                        <th class="prodInfo">TIPO PRODUCTO</th>
                                        <th class="prodInfo">UNIDAD DE MEDIDA</th>
                                        <th class="prodInfo">DESCRIPCION</th>
                                    </tr>
                                    <td class="prodInfo">#{salidasActuales.fk_ExistenciaBodega.fk_codigo.nombre}</td>
                                    <td class="prodInfo">#{salidasActuales.fk_ExistenciaBodega.fk_codigo.presentacion}</td>
                                    <td class="prodInfo">#{salidasActuales.fk_ExistenciaBodega.fk_codigo.sigTipoproducto.nombre}</td>
                                    <td class="prodInfo">#{salidasActuales.fk_ExistenciaBodega.fk_codigo.sigUnidadmedida.nombre}</td>
                                    <td class="prodInfo">#{salidasActuales.fk_ExistenciaBodega.fk_codigo.sigRubro.descripcion}</td>
                                </table>      
                            </p:overlayPanel>  
                        </p:commandButton>
                    </p:column>
                    <p:column headerText="ENTREGADO A">
                        <h:outputText value="#{salidasActuales.entregado_a}" />
                    </p:column>
                    <p:column headerText="CANTIDAD" style="width: 10%">
                        <h:outputText value="#{salidasActuales.cantidad}" />
                    </p:column>
                    <p:column headerText="FECHA DE INGRESO">
                        <h:outputText value="#{salidasActuales.fecha_salida}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="REALIZADO POR">
                        <h:outputText value="#{salidasActuales.realizado_por}" />
                    </p:column>
                    <p:column headerText="OBSERVACIONES">
                        <h:outputText value="#{salidasActuales.observacion}" />
                    </p:column>
                    <p:column headerText="MARCA">
                        <h:outputText value="#{salidasActuales.fk_ExistenciaBodega.fk_marca.nombre}" />
                    </p:column>
                    <p:column headerText="FECHA CADUCIDAD">
                        <h:outputText value="#{salidasActuales.fk_ExistenciaBodega.fecha_caducidad}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="DISTRIBUIDOR" filterBy="#{salidasActuales.fk_ExistenciaBodega.nombre_distribuidor}" filterStyle="width:100%" filterMatchMode="contains">
                        <h:outputText value="#{salidasActuales.fk_ExistenciaBodega.nombre_distribuidor}" />
                    </p:column>

                </p:dataTable>
            </p:dialog>
            <!--END:.TABLA CON LOS DATOS DE INGRESO DE BODEGA-->
        </h:form>
        <!--END:. FORMULARIO PADRE-->


        <!--INICIO PARA DIALOGO PARA SETTEAR CADA sigEXISTENCIABODEGA-->  
        <p:dialog header="Detalle de la Salida" id="detalleSalidas" widgetVar="detalleSalPro" modal="true" 
                  resizable="false" draggable="false">
            <h:form id="formSal" style="margin: 0; width: 100%; align-content: space-around">
                <p:growl id="growlDell" showDetail="false" />
                <p:scrollPanel style="height:300px">
                    <p:outputPanel id="detalleSalProducto" style="text-align:center;">
                        <p:dataTable var="salBodega" value="#{salidaBodegaBean.listSalidaBodega}" 
                                     emptyMessage="No se han seleccionado Productos a Ingresar..."
                                     editable="true"
                                     editMode="cell">
                            <p:ajax event="rowEdit" listener="#{salidaBodegaBean.onRowEdit(salBodega)}" update=":formSal:growlDell" />
                            <p:ajax event="rowEditCancel" listener="#{salidaBodegaBean.onRowCancel}" update=":formSal:growlDell" />
                            <p:column headerText="CODIGO PRODUCTO">
                                <h:outputText value="#{salBodega.fk_ExistenciaBodega.fk_codigo.codigo}" />   
                            </p:column>
                            <p:column headerText="NOMBRE">
                                <h:outputText value="#{salBodega.fk_ExistenciaBodega.fk_codigo.nombre}" />   
                            </p:column>
                            <p:column headerText="PRESENTACION">
                                <h:outputText value="#{salBodega.fk_ExistenciaBodega.fk_codigo.presentacion}" />   
                            </p:column>
                            <p:column headerText="UNIDAD MEDIDA">
                                <h:outputText value="#{salBodega.fk_ExistenciaBodega.fk_codigo.sigUnidadmedida.nombre}" />   
                            </p:column>
                            <p:column headerText="CANTIDAD">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{salBodega.cantidad}" /></f:facet>
                                    <f:facet  name="input">
                                        <!--<p:inputText id="cant" value="#{salBodega.cantidad}" style="width:100%" label="Cantidad"/>-->
                                        <p:inputNumber id="cant" value="#{salBodega.cantidad}" style="width:100%" label="Cantidad" maxValue="#{salBodega.cantidad}" minValue="0"/>

                                    </f:facet>

                                </p:cellEditor>
                            </p:column>


                            <p:column headerText="OBSERVACION">
                                <p:cellEditor>
                                    <f:facet name="output"><h:outputText value="#{salBodega.observacion}" /></f:facet>
                                    <f:facet name="input"><p:inputText value="#{salBodega.observacion}" style="width:100%" label="Descripcion" converter="omnifaces.ToUpperCaseConverter"/></f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column style="width:35px">
                                <p:rowEditor/>
                            </p:column>
                        </p:dataTable>
                    </p:outputPanel>
                </p:scrollPanel>             
                <center>
                    <p:commandButton value="Guardar" icon="fa fa-save" action="#{salidaBodegaBean.confirm}" 
                                     update="formSal formBode:salBodegaR"
                                     oncomplete="PF('detalleSalPro').hide();" style="float: left; margin-left: 35%" >
                        <p:confirm header="Esta seguro de Guardar?" message="Esta accion no puede revertirse!" icon="fa fa-warning"/>
                    </p:commandButton>
                    <p:commandButton value="Cancelar" icon="fa fa-times-circle" update="formSal" style="margin-left: 0%" oncomplete="PF('detalleSalPro').hide()"></p:commandButton>
                </center>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times-circle" update="formSal"/>
                </p:confirmDialog>  
            </h:form>
        </p:dialog>
        <!--FIN PARA DIALOGO PARA SETTEAR CADA sigEXISTENCIABODEGA-->
        <p:dialog id="successConfirm" widgetVar="successSal" header="Salida de Productos Realizado con Exito!" closable="false" resizable="false" draggable="false">
            <i class="fa fa-warning"></i>
            <p:outputLabel value="Puede Consultar los registros, en el Historial de Salidas Realizadas!"/>
            <br></br>
            <center>            
                <p:commandButton id="okp" value="OK" action="#{salidaBodegaBean.refreshPage()}"/>
            </center>
        </p:dialog>

    </ui:define>

</ui:composition>
