<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <p:panelGrid columns="1" style="margin: 0 auto; width: 60%; text-align: center" 
                     styleClass="ui-panelgrid-blank">
            <h:graphicImage url="/resources/images/Error/mantenimiento.png" 
                            style="margin: 0  auto;width: 100%;height: 97%" /> 
        </p:panelGrid>         
    </ui:define>

</ui:composition>
