<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form id="formCentro" style="margin: 0px;">
            <p:growl id="growlCentro" showDetail="false" life="5000" sticky="true"/>
            <p:focus for="txtDes" />    
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:panel header="NUEVO CENTRO INSTITUCIONAL" style="width: 98%;margin: 0 auto;  text-align: center;">
                <p:panelGrid style="margin: 0 auto;width: 98%;">
                    <p:row>
                        <p:column style="width: 15px;">
                            <p:outputLabel value="Nombre:" />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{centroBean.sigCentro.nomCentro}" maxlength="100" 
                                         size="50" id="txtDes"
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Por favor ingrese el Nombre del Centro!"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="width: 15px;">
                            <p:outputLabel value="Telefono: " />
                        </p:column>
                        <p:column>
                            <p:inputMask id="txtTel" value="#{centroBean.sigCentro.telefono}" mask="9999-9999?"
                                         required="true" requiredMessage="Por favor ingrese el Numero de Telefono, o verifique que haya llenado completamente!"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="width: 15px;">
                            <p:outputLabel for="departamento" value="Departamento:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="departamento" value="#{centroBean.departamento}" style="width:125px" 
                                             required="true"  requiredMessage="Por favor ingrese el Departamento!">
                                <f:selectItem itemLabel="SELECCIONE UN DEPARTAMENTO..." itemValue="" noSelectionOption="true" />
                                <f:selectItem itemLabel="AHUACHAPAN" itemValue="AHUACHAPAN" />
                                <f:selectItem itemLabel="SANTA ANA" itemValue="SANTA ANA" />
                                <f:selectItem itemLabel="SONSONATE" itemValue="SONSONATE" />
                                <f:selectItem itemLabel="CHALATENANGO" itemValue="CHALATENANGO" />
                                <f:selectItem itemLabel="LA LIBERTAD" itemValue="LA LIBERTAD" />
                                <f:selectItem itemLabel="SAN SALVADOR" itemValue="SAN SALVADOR" />
                                <f:selectItem itemLabel="CUSCATLAN" itemValue="CUSCATLAN" />
                                <f:selectItem itemLabel="CABAÑAS" itemValue="CABAÑAS" />
                                <f:selectItem itemLabel="SAN VICENTE" itemValue="SAN VICENTE" />
                                <f:selectItem itemLabel="LA PAZ" itemValue="LA PAZ" />
                                <f:selectItem itemLabel="MORAZAN" itemValue="MORAZAN" />
                                <f:selectItem itemLabel="SAN MIGUEL" itemValue="SAN MIGUEL" />
                                <f:selectItem itemLabel="USULUTAN" itemValue="USULUTAN" />
                                <f:selectItem itemLabel="LA UNION" itemValue="LA UNION" />
                                <p:ajax event="itemSelect" listener="#{centroBean.onDeptoCambie()}" update="municipio" />
                            </p:selectOneMenu >
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="width: 15px;">
                            <p:outputLabel for="municipio" value="Municipio:  " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="municipio" value="#{centroBean.sigCentro.municipio}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="true" requiredMessage="Por favor ingrese el Municipio!">
                                <f:selectItem itemLabel="SELECCIONE UN MUNICIPIO" noSelectionOption="false"/>
                                <f:selectItems value="#{centroBean.listaPorDepto}" var="ubicacion" itemLabel="#{ubicacion.NOM_MUN}" itemValue="#{ubicacion.NOM_MUN}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="width: 15px;">
                            <p:outputLabel value="Direccion:  " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{centroBean.sigCentro.direccion}" maxlength="50" 
                                         size="50" id="txtDireccion"
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="true" requiredMessage="Por favor ingrese la Direccion!"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2" style="text-align: center">
                            <p:commandButton value="Guardar" binding="#{btnG}" update="formCentro:growlCentro" 
                                             action="#{centroBean.insertCentro()}"
                                             />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <!--        FIN DE PANEL PARA CRUD DE CENTROS-->   
            <!--INICIO PARA LISTAR Y MODIFICAR LOS CENTROS-->
            <div style="height: 65%">
                <p:dataTable value="#{centroBean.listCentro}" var="dCentro" id="tableCentros"
                             emptyMessage="No hay Centros Registrados..."
                             scrollable="true" scrollHeight="100%" scrollRows="50"
                             style="width: 100%;margin-top: 10px;"
                             editable="true" 
                             rows="30"
                             paginator="true">
                    <f:facet name="header">
                        CENTROS REGISTRADOS EN EL SISTEMA
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{centroBean.onRowEdit(dCentro)}" update=":formCentro:growlCentro" />
                    <p:ajax event="rowEditCancel" listener="#{centroBean.onRowCancel()}" update=":formCentro:growlCentro" />

                    <p:columnGroup type="header">
                        <p:row style="text-align: center;">
                            <p:column sortable="true" sortBy="#{dCentro.pkIdCentro}" filterBy="#{dCentro.pkIdCentro}" filterMatchMode="exact" headerText="Numero"  style="text-align: center;font-size:  12px;width: 10%;font-weight: bold;"/>
                            <p:column filterBy="#{dCentro.nomCentro}" filterMatchMode="contains" headerText="Nombre"  style="text-align: center;font-size:  12px;width: 50%;font-weight: bold;"/>
                            <p:column filterBy="#{dCentro.departamento}" filterMatchMode="contains" headerText="Departamento" style="text-align: center;font-size:  12px;width: 25%;font-weight: bold;"/>
                            <p:column filterBy="#{dCentro.municipio}" filterMatchMode="contains" headerText="Municipio" style="text-align: center;font-size:  12px;width: 25%;font-weight: bold;"/>
                            <p:column filterBy="#{dCentro.direccion}" filterMatchMode="contains" headerText="Direccion" style="text-align: center;font-size:  12px;width: 28%;font-weight: bold;"/>
                            <p:column headerText="Telefono" style="text-align: center;font-size:  12px;width: 15%;font-weight: bold;"/>
                            <p:column headerText="Modificar Centro" style="text-align: center;width: 14%; font-size:  12px;font-weight: bold;"/>
                        </p:row>
                    </p:columnGroup>

                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:outputLabel value="#{dCentro.pkIdCentro}"/>
                    </p:column>
                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{dCentro.nomCentro}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{dCentro.nomCentro}" style="width:100%" maxlength="100" 
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere la descripción"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{dCentro.departamento}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="departamento" value="#{centroBean.editDepto}" style="width:125px" required="true" requiredMessage="Se requiere el Departamento!">
                                    <p:ajax listener="#{centroBean.onDeptoEdit()}" update="municipioS" />
                                    <f:selectItem itemLabel="#{dCentro.departamento}" itemValue="#{dCentro.departamento}" />
                                    <f:selectItem itemLabel="AHUACHAPAN" itemValue="AHUACHAPAN" />
                                    <f:selectItem itemLabel="SANTA ANA" itemValue="SANTA ANA" />
                                    <f:selectItem itemLabel="SONSONATE" itemValue="SONSONATE" />
                                    <f:selectItem itemLabel="CHALATENAGO" itemValue="CHALATENANGO" />
                                    <f:selectItem itemLabel="LA LIBERTAD" itemValue="LA LIBERTAD" />
                                    <f:selectItem itemLabel="SAN SALVADOR" itemValue="SAN SALVADOR" />
                                    <f:selectItem itemLabel="CUSCATLAN" itemValue="CUSCATLAN" />
                                    <f:selectItem itemLabel="CABANAS" itemValue="CABANAS" />
                                    <f:selectItem itemLabel="SAN VICENTE" itemValue="SAN VICENTE" />
                                    <f:selectItem itemLabel="LA PAZ" itemValue="LA PAZ" />
                                    <f:selectItem itemLabel="MORAZAN" itemValue="MORAZAN" />
                                    <f:selectItem itemLabel="SAN MIGUEL" itemValue="SAN MIGUEL" />
                                    <f:selectItem itemLabel="USULUTAN" itemValue="USULUTAN" />
                                    <f:selectItem itemLabel="LA UNION" itemValue="LA UNION" />
                                </p:selectOneMenu >
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel for="municipioS" value="#{dCentro.municipio}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="municipioS" value="#{dCentro.municipio}" 
                                                 converter="omnifaces.SelectItemsConverter"
                                                 required="#{not empty param[btnG.clientId]}"
                                                 requiredMessage="Se requiere el Municipio">
                                    <f:selectItem itemLabel="#{dCentro.municipio}" itemValue="#{dCentro.municipio}" />
                                    <f:selectItems value="#{centroBean.listaPorDepto2}" var="ubi" itemLabel="#{ubi.NOM_MUN}" itemValue="#{ubi.NOM_MUN}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{dCentro.direccion}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{dCentro.direccion}" style="width:100%" maxlength="100" 
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere la Direccion"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: left;font-size: 12px;font-weight: bold;" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{dCentro.telefono}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputMask id="txtTel" value="#{dCentro.telefono}" mask="9999-9999?"  
                                             required="#{not empty param[btnG.clientId]}" requiredMessage="Se requiere el Telefono"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 10%">
                        <p:rowEditor editTitle="Modificar el centro"/>
                    </p:column>

                    <f:facet name="footer">
                        <p:outputLabel value=" " />
                    </f:facet>
                </p:dataTable>
            </div>
            <!--FIN PARA LISTAR Y MODIFICAR LOS CENTROS-->
        </h:form>
        <p:dialog id="successConfirm" widgetVar="successDesc" header="Registro Realizado con Exito!" closable="false" resizable="false" draggable="false">
            <i class="fa fa-warning"></i>
            <p:outputLabel value="Puede Consultar el registro, en la tabla de abajo"/>
            <br></br>
            <center>            
                <p:commandButton id="ok" value="OK" action="#{descargoCocinaBean.refreshPage()}"/>
            </center>
        </p:dialog>
    </ui:define>


</ui:composition>
