<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form id="formRubro" style="margin: 0px;">
            <p:growl id="growlRubro" showDetail="false" />
            <!-- <p:focus for="idRubro" /> -->
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>
            <p:panel header="Rubro" style="width: 82%;margin: 0 auto ">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Codigo:" />
                        </p:column>
                        <p:column>
                            <p:inputNumber size="10" value="#{rubroBean.rubro.idRubro}" 
                                         required="true" 
                                         maxValue="9999999" thousandSeparator="" minValue="0"
                                         requiredMessage="Se requiere el Codigo del rubro"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Descripcion:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="70" value="#{rubroBean.rubro.descripcion}" maxlength="250"
                                         converter="omnifaces.ToUpperCaseConverter"
                                         required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere la Descripcion del rubro"/>
                        </p:column>
                        </p:row>
                    <p:row>
                        <p:column style="text-align: center;" colspan="8">
                            <p:commandButton value="Guardar" binding="#{btnGU}" update="formRubro" 
                                             action="#{rubroBean.insertRubro()}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
            <div style="height: 68%;width: 83%;margin: 0 auto;">
                <p:dataTable value="#{rubroBean.listRubro}" var="tblRubro"
                             style="width: 100%;margin-top: 10px;"
                             editable="true" 
                             paginator="true"
                             paginatorPosition="bottom"
                             rows="10"
                             scrollable="true" scrollHeight="100%" scrollRows="50"
                             emptyMessage="No hay Rubros"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,15" id="tblRubro"
                             >

                    <p:ajax event="rowEdit" listener="#{rubroBean.onRowEdit(tblRubro)}" update=":formRubro:growlRubro" />
                    <p:ajax event="rowEditCancel" listener="#{rubroBean.onRowCancel()}" update=":formRubro:growlRubro" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Codigo" style="text-align: center;font-size:  12px;width: 7%;"/>
                            <p:column headerText="Descripcion" style="text-align: left;font-size:  12px;width: 35%;"/>
                            <p:column headerText="Editar" style="text-align: left;font-size:  12px;width: 7%;"/>
                            <p:column headerText="Activo" style="text-align: left;font-size:  12px;width: 7%;"/>

                        </p:row>
                    </p:columnGroup>
                    <f:facet name="header">
                        <p:outputLabel value="Rubros" />
                    </f:facet>
                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblRubro.idRubro}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblRubro.descripcion}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblRubro.descripcion}" style="width:100%" maxlength="70"
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere la Descripcion del rubro"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 5%">
                        <p:rowEditor editTitle="Modificar Rubro" />
                    </p:column>
                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton value="#{tblRubro.estado?'Si':'No'}"  update="formRubro" action="#{rubroBean.updateEstadoRubro(tblRubro)}"
                                         style="#{tblRubro.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" 
                                         title="Deshabilitar al rubro">
                            <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado del rubro?" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>
                    <f:facet name="footer">
                        <p:outputLabel value=" " />
                    </f:facet>
                </p:dataTable>
            </div>
        </h:form>
    </ui:define>
</ui:composition>