<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form id="formUsu" style="margin: 0px;">
            <p:growl id="growlUsu" showDetail="false" />
            <p:focus for="txtNom" />
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 25%"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <p:panel header="Nuevo Usuario" style="width: 70%;margin: 0 auto ">
                <p:panelGrid style=" text-align: center; width: 100%;margin: 0 auto ">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="20" value="#{usuarioBean.usu.nombre}" maxlength="70" id="txtNom"
                                         required="#{not empty param[btnGU.clientId] or
                                                     not empty param[btnGC.clientId] 
                                                    }" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         requiredMessage="Se requiere el nombre"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Apellido:" />
                        </p:column>
                        <p:column>
                            <p:inputText size="20" value="#{usuarioBean.usu.apellido}" maxlength="70" 
                                         required="#{not empty param[btnGU.clientId] or
                                                     not empty param[btnGC.clientId] 
                                                    }" 
                                         converter="omnifaces.ToUpperCaseConverter"
                                         requiredMessage="Se requiere el apeliido"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Codigo:" />
                            <p:commandButton value="Generar" style="margin-left: 10px;" action="#{usuarioBean.generarCodigo()}"
                                             update="formUsu" binding="#{btnGC}"/>
                        </p:column>
                        <p:column>
                            <p:inputText readonly="true" value="#{usuarioBean.usu.codigo}" size="7"
                                         required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere el codigo"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Rol:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.usu.sigRol}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere el rol">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{usuarioBean.listRol}" var="rol" itemLabel="#{rol.descripcion}" itemValue="#{rol}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Centro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.usu.sigCentro}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="#{not empty param[btnGU.clientId]}" requiredMessage="Se requiere el Centro">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{usuarioBean.listCentro}" var="sigCentro" itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Correo:" />
                        </p:column>
                        <p:column colspan="7">
                            <p:inputText value="#{usuarioBean.usu.correo}" size="30" style="text-transform: none;" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align: center;" colspan="8">
                            <p:commandButton value="Guardar" binding="#{btnGU}" update="formUsu" 
                                             action="#{usuarioBean.insertUsuario()}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

            <div style="height: 68%;width: 83%;margin: 0 auto;">
                <p:dataTable value="#{usuarioBean.listUsu}" var="tblUsu"
                             style="width: 100%;margin-top: 10px;"
                             editable="true" 
                             scrollable="true" scrollHeight="100%" scrollRows="50"
                             emptyMessage="No hay usuarios"
                             rows="10"
                             paginator="true">

                    <p:ajax event="rowEdit" listener="#{usuarioBean.onRowEdit(tblUsu)}" update=":formUsu:growlUsu" />
                    <p:ajax event="rowEditCancel" listener="#{usuarioBean.onRowCancel()}" update=":formUsu:growlUsu" />

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="Codigo" filterBy="#{tblUsu.codigo}" filterMatchMode="contains" style="text-align: center;font-size:  12px;width: 7%;"/>
                            <p:column headerText="Nombre" filterBy="#{tblUsu.nombre}" filterMatchMode="contains" style="text-align: center;font-size:  12px;"/>
                            <p:column headerText="Apellido" filterBy="#{tblUsu.apellido}" filterMatchMode="contains" style="text-align: center;font-size:  12px;"/>
                            <p:column headerText="Correo" style="text-align: center;font-size:  12px;width: 20%;"/>
                            <p:column headerText="Rol" filterBy="#{tblUsu.sigRol.descripcion}" filterMatchMode="contains" style="text-align: center;font-size:  12px;width: 14%;">
                            </p:column>
                            <p:column headerText="Centro" filterBy="#{tblUsu.sigCentro.nomCentro}" filterMatchMode="contains" style="text-align: center;font-size:  12px;"/>
                            <p:column headerText="Editar" style="width: 5%;text-align: center;font-size: 12px;"/>
                            <p:column headerText="Activo" style="width: 5%;text-align: center;font-size: 12px;"/>
                            <p:column headerText="Restablecer contraseña" style="width: 8%;text-align: center;font-size: 12px;"/>
                        </p:row>
                    </p:columnGroup>

                    <f:facet name="header">
                        <p:outputLabel value="Usuarios Dentro del Sistema" />
                    </f:facet>

                    <p:column style="text-align: center;font-size:  12px;width: 7%;">
                        <p:outputLabel value="#{tblUsu.codigo}" />
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblUsu.nombre}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblUsu.nombre}" style="width:100%" maxlength="70" 
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere el nombre"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="text-align: left;font-size:  12px;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblUsu.apellido}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblUsu.apellido}" style="width:100%" maxlength="70"
                                             converter="omnifaces.ToUpperCaseConverter"
                                             required="true" requiredMessage="Se requiere el apellido"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="text-align: center;font-size:  12px;width: 20%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblUsu.correo}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{tblUsu.correo}" style="width:100%;text-transform: none;" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: center;font-size:  12px;width: 14%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblUsu.sigRol.descripcion}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{tblUsu.sigRol}" 
                                                 converter="omnifaces.SelectItemsConverter" 
                                                 required="true" requiredMessage="Se requiere el rol">
                                    <f:selectItem itemLabel="#{tblUsu.sigRol.descripcion}" itemValue="#{tblUsu.sigRol}" />
                                    <f:selectItems value="#{usuarioBean.listRol}" var="rolT" 

                                                   itemLabel="#{rolT.descripcion}" itemValue="#{rolT}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  style="text-align: center;font-size:  12px;width: 14%;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{tblUsu.sigCentro.nomCentro}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu value="#{tblUsu.sigCentro}" 
                                                 converter="omnifaces.SelectItemsConverter" 
                                                 required="true" requiredMessage="Se requiere el Centro">
                                    <f:selectItem itemLabel="#{tblUsu.sigCentro.nomCentro}" itemValue="#{tblUsu.sigCentro}" />
                                    <f:selectItems value="#{usuarioBean.listCentro}" var="sigCentro" 

                                                   itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro}" />
                                </p:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column style="width: 5%">
                        <p:rowEditor editTitle="Modificar usuario" />
                    </p:column>
                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton value="#{tblUsu.estado?'Si':'No'}"  update="formUsu" action="#{usuarioBean.updateEstadoUsu(tblUsu)}"
                                         style="#{tblUsu.estado?'background: #1484E6;color: white;':'background: #CECECE;color: black;'}" 
                                         title="Deshabilitar al usuario">
                            <p:confirm header="Confirmación" message="Esta segur@ de cambiar el estado del usuario?" icon="ui-icon-alert" />
                        </p:commandButton>
                        
                    </p:column>
                    <p:column style="width: 5%;text-align: center;font-size: 12px;">
                        <p:commandButton update="formUsu" icon="fa fa-refresh" action="#{usuarioBean.resetClave(tblUsu)}"
                                         title="Restaurar la contraseña">
                            <p:confirm header="Confirmación" message="Esta segur@ de reiniciar la contraseña?" icon="ui-icon-alert" />
                        </p:commandButton>
                    </p:column>

                    <f:facet name="footer">
                        <p:outputLabel value=" " />
                    </f:facet>
                </p:dataTable>
            </div>
        </h:form>
    </ui:define>


</ui:composition>
