<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        <h:form>
            <p:panel header="Filtrado para Reporte de Historial de Registros SICACIR" style="width: 98%;margin: 0 auto;">
                <p:panelGrid style="margin: 0 auto;width: 98%;">
                    <p:row>

                        <p:column>
                            <p:outputLabel value="Centro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{bitacoraBean.idCentro}" 
                                             converter="omnifaces.SelectItemsConverter" >
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{bitacoraBean.listCentro}" var="sigCentro" itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro.pkIdCentro}" />
                                <p:ajax event="itemSelect" listener="#{bitacoraBean.obtenerUsuarios()}" update="listUsuCen"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column style="width: 15px;">
                            <p:outputLabel value="Usuario:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="listUsuCen" value="#{bitacoraBean.usuario}" maxlength="100" 
                                         converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{bitacoraBean.usuariosPorCentro}" var="sigUsuario" itemLabel="#{sigUsuario.codigo}" itemValue="#{sigUsuario.codigo}" />
                        </p:selectOneMenu>
                            </p:column>
                        <p:column>
                            <p:outputLabel value="Rol:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{bitacoraBean.rol}" 
                                             converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{bitacoraBean.listRol}" var="rol" itemLabel="#{rol.descripcion}" itemValue="#{rol.pkRol}" />
                            </p:selectOneMenu>
                        </p:column> 
                    </p:row>
                    <p:row>
                        <p:column style="text-align: center;" colspan="6">
                            <h:commandLink id="reporteBitacora" style="padding: .3em 1em;" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c" target="_blank" value="Generar Reporte" actionListener="#{bitacoraBean.verReporte()}" title="Ver reporte de Bitacora"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>


