<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../../WEB-INF/template/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formRUsu" style="margin: 0px;" rendered="true">
            <p:growl id="growRacion" showDetail="false" />          
            <p:panel id="panelReporte" header="Reporte de Usuarios en el sistema" style=" text-align: center; width: 30%;margin: 0 auto ">
                <p:panelGrid rendered="true" style=" text-align: center; width: 100%;margin: 0 auto ">   
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Rol:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{reporteAdminBean.usu.sigRol}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="false" requiredMessage="Se requiere el rol">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{reporteAdminBean.listRol}" var="rol" itemLabel="#{rol.descripcion}" itemValue="#{rol}" />
                                <p:ajax event="itemSelect" listener="#{reporteAdminBean.rolSeleccionado()}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Centro:" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{reporteAdminBean.usu.sigCentro}" 
                                             converter="omnifaces.SelectItemsConverter"
                                             required="true" requiredMessage="Se requiere el Centro">
                                <f:selectItem itemLabel="Seleccionar..." noSelectionOption="true" />
                                <f:selectItems value="#{reporteAdminBean.listCentro}" var="sigCentro" itemLabel="#{sigCentro.nomCentro}" itemValue="#{sigCentro}" />
                                <p:ajax event="itemSelect" listener="#{reporteAdminBean.centroSeleccionado()}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>                        
                      <p:row>
                      <p:column style="text-align: center;" colspan="6">
                          <h:commandLink id="reporteUsuarios" style="padding: .3em 1em;" styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text ui-c" target="_blank" value="Generar Reporte" actionListener="#{reporteAdminBean.verReporteUsuario(reporteAdminBean.idRol, reporteAdminBean.idCentro)}" title="Ver reporte de usuarios"/>
                      </p:column>
                    </p:row> 
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
