<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/login.css"/>
        <title>Iniciar Sesión</title>
        <link href="resources/images/Plantilla/logo_bueno2.png" 
              type="image/x-icon" rel="shortcut icon" />
    </h:head>
    <h:body style="background: #1484E6;">

        <h:form  id="fromLogin" >

            <!-- **************** DIALOGO QUE MUESTRAS CUANDO HAY UNA PETICCION AJAX ****************-->
            <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />

            <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false"  style="background: transparent;" appendTo="@(body)">
                <p:graphicImage value="/resources/images/Plantilla/loading.gif"  width="50" height="50" />
            </p:dialog>

            <p:growl id="growlLog" sticky="false" showDetail="false" />
            <p:focus for="txtUsuario" />

            <p:panelGrid columns="1" style="margin: 0 auto;
                         width: 50%; text-align: center;
                         margin-top: 5%" styleClass="ui-panelgrid-blank">
                <h:graphicImage url="/resources/images/Plantilla/logo_bueno2.png" 
                                width="60%"
                                style="margin: 0 auto;"/> 
            </p:panelGrid>

            <p:panelGrid style="width: 35%;margin: 0 auto;
                         margin-top: 2%;">
                <p:row>
                    <p:column style="text-align: center;background: #1484E6;
                              color: white;border: hidden;">
                        <p:outputLabel value="SIG para apoyar el manejo de alimentación en albergues para la Gerencia de Proyectos Sociales de la Alcaldía El Manguito" 
                                       style="font-weight: bold;font-size: 100%;"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align: center;background: #1484E6;
                              color: white;border: hidden;">
                        <p:outputLabel value="Acceso de Usuario" 
                                       style="margin-bottom: 10%;
                                       font-weight: bold;font-size: 100%;"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:panelGrid style="width: 25%;margin: 0 auto;">
                <p:row>
                    <p:column style="border: hidden;text-align: center;
                              background: #1484E6;">
                        <p:inputText id="txtUsuario" 
                                     placeholder="Usuario" 
                                     converter="omnifaces.ToUpperCaseConverter"
                                     value="#{loginBean.usuario}" 
                                     style="width: 90%;"
                                     title="Digite codigo de empleado"
                                     required="#{not empty param[btnLo.clientId]}" 
                                     requiredMessage="Se requiere un usuario" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="border: hidden;text-align: center;
                              background: #1484E6;">
                        <p:password  placeholder="Contraseña" value="#{loginBean.clave}" 
                                     id="txtPass" style="width: 90%;"
                                     required="#{not empty param[btnLo.clientId]}" 
                                     title="Digite su clave"
                                     requiredMessage="se requiere la contraseña"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align: center;border: hidden;
                              background: #1484E6;">
                        <p:commandButton value="Ingresar" 
                                         action="#{loginBean.validaLogin()}" update="fromLogin" 
                                         binding="#{btnLo}">
                            <p:resetInput target="fromLogin" />
                        </p:commandButton>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </h:body>
</html>

