<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/template/plantilla.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="css-block">
        
    </ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            window.onload = function () {
                document.getElementById('formCC:btnCC').click();
            }
        </script>
        <h:form id="formCC">
            <p:commandButton value="." action="#{defaultBean.cambioClave()}" id="btnCC" style="visibility: hidden;"/>
        </h:form>
    </ui:define>

    <ui:define name="dlg-block">
        <p:dialog widgetVar="updCCP" header="Cambio de Clave" modal="true" draggable="false" 
                  closable="true" resizable="false">
            <h:form id="formCCP" style="margin: 0px;">
                <p:growl id="growlCCP" showDetail="false" />
                <p:focus for="txtCl" />
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Por motivos de seguridad usted tiene que cambiar su clave
                                           por favor digite su nueva clave" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nueva clave:" />
                        </p:column>
                        <p:column>
                            <p:password size="30" value="#{defaultBean.nuevaClave}" id="txtCl"
                                        required="true" requiredMessage="Se requiere la nueva clave"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Confirmación Clave:" />
                        </p:column>
                        <p:column>
                            <p:password size="30" value="#{defaultBean.nuevaClaveCon}" 
                                        required="true" requiredMessage="Se requiere la confirmación de la clave"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2" style="text-align: center;">
                            <p:commandButton value="Guardar" action="#{defaultBean.modificarClave()}"
                                             update="formCCP"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
